.overlay-tooltip {
	margin-left: 2px !important;
}

.overlay-box {
	position: relative;
	border-top: 2px dashed #794738;
	border-left: 2px dashed #5F302C;
	border-bottom: 2px dashed #582B28;
	border-right: 2px dashed #5F302C;
	border-radius: 5px;
}

.overlay-box:hover {
	background-color: rgba(128, 128, 128, 0.05);
	border: #c88930 dashed 2px;
}

.overlay-box.overlay-selected {
	border: #ffb752 solid 2px;
}

.overlay-symbol {
	position: relative;
	image-rendering: pixelated;
	border-radius: 5px;
}

.overlay-symbol:hover {
	background-color: rgba(128, 128, 128, 0.05);
	outline: #c88930 dashed 2px;
}

.overlay-symbol.overlay-selected {
	outline: #ffb752 solid 2px;
}

.overlay-information {
	width: 400px;
	position: absolute;
	top: 0;
	left: 0;
}