.overlay-highlight {
	background-color: rgba(128, 128, 128, 0);
	border: #c8893002 dashed 2px;
	border-radius: 5px;
	overflow: hidden;
}

.overlay-highlight:hover {
	background-color: rgba(128, 128, 128, 0.05);
	border: #c88930 dashed 2px;
}