body,
html {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
}

#menu-container {
	padding: 0;
}

.select-grid {
	display: grid !important;
	grid-template-columns: auto 1fr;
	gap: 1em 1em;
	margin: 1em;
}

.coordinate-grid {
	display: grid !important;
	grid-template-columns: auto 1fr 1fr;
	gap: 1em 1em;
	margin: 1em;
}

#osd-container {
	flex-grow: 1;
	background-color: black;
}