body,
html {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
}

#menu-container {
	position: absolute;
	display: flex !important; /* Why the hell does OSD override the display type?*/
	flex-direction: column;
	gap: 0px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	padding: 0 !important; /* Why the hell does OSD set a padding of zero on any embedded control?*/
	/*z-index: 1;*/
	pointer-events: none;
	user-select: none;
}

#menu-toolbar {
	display: flex;
	flex-direction: row;
	gap: 0px;
	padding: 12px;
	/*pointer-events: auto;*/
}

#menu-toolbar > div {
	pointer-events: auto;
}

#captures-list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: visible;
	pointer-events: auto;
	padding: 12px;
	padding-left: 24px;
	gap: 4px;
	align-items: start;
}

.captures-list-entry {
	display: flex;
	pointer-events: auto;
	gap: 12px;
}

.captures-list-entry-image {
	flex-shrink: 0;
	object-fit: contain;
	image-rendering: pixelated;
}

.captures-list-entry-description {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 12px;
}

#osd-container {
	position: relative;
	flex-grow: 1;
	background-color: black;
	overflow: hidden;
}

#coordinates-hover {
	position: absolute;
	pointer-events: none;
	user-select: none;
}

.tooltip {
	visibility: hidden;
	position: absolute;
	margin-left: 8px;
	z-index: 10;
}

*:hover > .tooltip {
	visibility: visible;
	pointer-events: none;
}

*:not(:hover) > .tooltip {
	animation-name: none;
}